<%- include("../../partials/dashboard/header") %>

<div class="table-responsive-md my-5">
    <% if(comments.length > 0) { %>

      <table class="table table-dark table-hover">
        <thead>
          <tr>
            <th scope="col">Body</th>
            <th scope="col">Post</th>
            <th scope="col">isApproved</th>
            <th scope="col">Author</th>
            <th scope="col">Submission date</th>
          </tr>
        </thead>
        <tbody class="text-secondary">
            <% comments.forEach( comment => { %>
            <tr>
                  <th scope="row"><%= comment.comment_body %></th>
            <% if(!comment.post) { %>
              <td></td>
            <% } else { %>
              <td><%= comment.post.title %></td>
            <% } %>
            <td><%= comment.is_approved %></td>
            <td><%= comment.user.username %></td>
            <td><%= comment.creation_date.toDateString() %></td>
                </tr>
            <% }) %>
        </tbody>
      </table>
</div>

<% } else { %>
    <h3 class="text-center fw-bold fst-italic">No comments</h3>
<% } %>

</div></div></div>